.menuContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}

.menubarItem {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  background-color: #eeeeee;
  cursor: pointer;
  border-radius: 5%;
  padding: 0.5vh;
  margin-left: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.menuIcon {
  height: 1.5rem;
  cursor: pointer;
  margin-right: 0.2rem;
  margin-left: 0.1rem;
}

.menubarItem:hover .menuIcon {
  transition: transform 0.5s ease; /* Add a smooth transition */
  transform: rotate(360deg); /* Rotate the menuIcon 180 degrees on hover */
}

/* @media (pointer: coarse) {
  .menubarItem {
    font-size: 1rem;
    padding: 1rem; */
/* right: calc((100vw -50%) / 2);
    top: calc((100vh - 92%) / 2); */
/* }
} */

/* @media (pointer: coarse) {
  .menuContainer {
    position: fixed;
    width: 100vw; */
/* right: calc((100vw -50%) / 2);
    top: calc((100vh - 92%) / 2); */
/* }
} */

/* .menubarItem {
  font-size: 1rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 1rem;
  width: 100vw;
  display: flex;
  justify-content: center;
} */

.colorsBox {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1vh;
}
