.menubarItem {
  font-size: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.menuContainer {
  display: flex;
  flex-direction: row;
}

.navBarDraw:hover,
.navBarProfile:hover,
.navBarArchive:hover,
.navBarInfo:hover {
  background-color: black;
  color: #0f0;
}
