@import "../styles/tool.css";
@import "../styles/archive.css";
@import "../styles/profile.css";
@import "../../components/Navbar/Navbar.css";
@import "../../components/LogInBtn/LogInBtn.css";
@import "../../components/LogInBtn/LogInBtnToSave.css";

* {
  box-sizing: border-box;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

html,
body {
  overscroll-behavior-y: contain;
}

:root {
  background-color: #0f0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}

.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.centeredText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-container,
.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-container {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.overlay-container {
  z-index: 2;
}

.introButtonStart {
  background-color: #9b039e;
  color: white;
  width: 30%;
  height: 100px;
  font-size: 4rem;
  border-radius: 50px;
}

.introText {
  font-size: 4rem;
  width: 90%;
  margin: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 767px) {
  .introText {
    font-size: 2rem;
  }
}

/* main {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
} */

/* .rootHomepage {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
} */

/* .toolPage {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
} */

/* .infoPage {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
} */

/* .menuContainer {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  overscroll-behavior: none;
} */

/* canvas {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
} */

/* .fixedCanvas {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
} */
