.saveButton,
.downloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 40px;
  font-size: 1rem;
  border: 2px solid black;
  width: 28%;
}

.saveButton {
  color: #0f0;
  background-color: black;
}
.downloadButton {
  color: black;
  background-color: #0f0;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.toolContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 420px;
  margin-bottom: 50px;
}

.downloadButton:hover,
.clearButton:hover {
  color: #0f0;
  background-color: black;
}

.saveButton:hover {
  color: black;
  background-color: #0f0;
}

.toolButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 1rem;
  height: 5rem;
}

.clearButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 40px;
  font-size: 1rem;
  border: 2px solid black;
  width: 28%;
  color: black;
  background-color: #0f0;
}
/* comment this */
/* canvas {
  display: fixed;
} */

.clearButton,
.saveButton,
.downloadButton {
  cursor: pointer;
}

.colorButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.colorButton {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
}

.colorButton:hover {
  border: 2px solid #0f0;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
