.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

/* .toolContainer { */
/* display: flex;
  flex-direction: column; */

/* min-width: 350px; */

/* onlythisbelow */
/* margin-bottom: 50px;
  padding-left: 25%;
  padding-right: 25%; */
/* height: 90vh; */
/* } */

@media (pointer: coarse) {
  .toolContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* margin-bottom: 50px; */
    padding-left: 1vh;
    padding-right: 1vh;
    /* min-width: 350px;
    position: fixed; */
    /* right: calc((100vw -50%) / 2);
    top: calc((100vh - 82%) / 2); */
  }
}

.toolButtonsContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* margin-bottom: 1rem;
  margin-top: 1rem;
  height: 5rem; */
}

/* @media (pointer: coarse) {
  .colorButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    min-width: 30px;
  }
} */

#canvasContainer {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

@media (max-width: 768px) {
  #canvasContainer {
    width: 100vw;
    height: 100vh;
  }
}
/* 
.colorButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
} */
