.logInBtn,
.logOutBtn {
  border-radius: 50px;
  font-size: 1rem;
  border: 2px solid black;
  min-width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.logOutBtn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  width: auto;
  font-size: 1rem;
  border: 2px solid black;
  width: 160px;
}

.logInBtn {
  color: #0f0;
  background-color: black;
}
.logOutBtn {
  color: black;
  background-color: #0f0;
}
.logInBtn:hover {
  color: black;
  background-color: #0f0;
}

.logOutBtn:hover {
  color: #0f0;
  background-color: black;
}
